<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Data Visualizer</title>
</head>
<body>
    <h1>Welcome to the Car Data Visualizer</h1>
    <ul>
        <li><a href="/visualize-price">Price Distribution</a></li>
        <li><a href="/visualize-hp-vs-engine">Horsepower vs Engine Capacity</a></li>
        <li><a href="/visualize-electric-cars">Is a car electric true or false?</a></li>
        <p>Visit the <a href="https://flaskcar.herokuapp.com/">Car Data Visualizer</a> to see the application in action.</p>
    </ul>
</body>
</html>
